body{
    margin: 0;
    padding: 0;
    font-family: 'segeo UI', sans-serif;
    background: linear-gradient(rgba(204, 174, 154, 1) 0%, rgba(142, 92, 66, 1) 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #201710;
}

.app{
    text-align: center;
}

.timer{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.session-counter{
    margin-top: 50%;
    font-size: 1.2rem;
    color: #201710;
}

.top-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.music-control button{
    margin-top: 10px;
}

.icon{
    font-size: 32px;
    cursor: pointer;
    margin: 10px;
    transition: color 0.3 ease;
}

.icon:hover{
    color: #ffeaa7;
}

button{
    background-color: #201710;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    color: #ffeaa7;
    cursor: pointer;
    transition: background 0.3 ease;
}

button:hover{
    background: #684f3b;
}